#feedback-siteupdaters-wrapper {
    display: none;
}
#feedback-sender-address {
    display: none;
}
#feedback-supplementary-info {
    display: none;
}
#feedback-help-wrapper {
    display: none;
}
